* {
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
} 

/* High Scores in top left corner */

/* Timer in top right corner */

/* Body Styles */
body {
    text-align: center;
}

/* Start Button styling */

/* Question content styling */