* {
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
} 

/* High Scores in top left corner */

/* Body Styles */
#countdown {
    text-align: left;
    float: left;
    font-size: 12px;
}

#high-scores {
    text-align: right;
    float: right;
    font-size: 12px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#button-format {
    display: flex;
    align-items: center;
    justify-content: center;
}

#question-box {
    display: none;
}

#wrong-answer {
    display: none;
}

#correct-answer {
    display: none;
}

#intro {
    display: block;
}

#end-text {
    display: none;
}

/* Start Button styling */

/* Question content styling */