/* Global Formatting */
* {
    font-family: Arial, Helvetica, sans-serif;
    color: navy;
} 

/* Align Countdown */
#countdown {
    text-align: left;
    float: left;
    font-size: 12px;
}

/* Align high scores menu */
#high-scores {
    text-align: right;
    float: right;
    font-size: 12px;
}

/* Align Title and Intro Text */
h1 {
    text-align: center;
}

p {
    text-align: center;
}

/* Center Start Button */
#button-format {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Varying Display Options */
#question-box {
    display: none;
}

#wrong-answer {
    display: none;
}

#correct-answer {
    display: none;
}

#intro {
    display: block;
}

#end-text {
    display: none;
}

#highscores {
    display: none;
}